* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  display: block;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

label,
input,
textarea {
  display: block;
}

svg {
  display: block;
}

body {
  font-family: "Roboto";
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  scroll-behavior: smooth;
}

.header__studio, .header__contacts, .header__svg-envelope, .header__svg-smartphone, .header__email, .header__number, .header-svg-envelope:hover > .header-email, .header-svg-envelope:hover > .header-number, .hero__button, .hero__element, .hero__overlay, .footer__link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: background-color, color, fill, border, opacity, -webkit-transform;
  transition-property: background-color, color, fill, border, opacity, -webkit-transform;
  transition-property: background-color, color, fill, border, transform, opacity;
  transition-property: background-color, color, fill, border, transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__svg {
  width: 44px;
  height: 44px;
  padding: 12px 12px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin: 0 93px 0 0;
}

.header__span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__studio, .header__contacts {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}

.header__studio:hover, .header__studio:hover, .header__contacts:hover, .header__contacts:hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__studio::after, .header__studio::after, .header__contacts::after, .header__contacts::after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}

.header__studio:hover::after, .header__studio:hover::after, .header__contacts:hover::after, .header__contacts:hover::after {
  display: block;
  -webkit-transform: scale(100%, 100%);
          transform: scale(100%, 100%);
}

.header__portfolio {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}

.header__portfolio::after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  top: 45px;
  left: 0;
  width: 72px;
  display: block;
}

.header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 318px;
  gap: 30px;
}

.header__think {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__svg {
  fill: #757575;
}

.header__svg-envelope {
  width: 16px;
  height: 12px;
}

.header__svg-envelope:hover {
  fill: #2196F3;
}

.header__svg-smartphone {
  width: 10px;
  height: 16px;
}

.header__svg-smartphone:hover {
  fill: #2196F3;
}

.header__email {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__email:hover {
  color: #2196f3;
}

.header__number {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__number:hover {
  color: #2196f3;
}

.header-svg-envelope:hover > .header-email {
  color: #2196F3;
}

.header-svg-envelope:hover > .header-number {
  color: #2196F3;
}

.hero {
  background: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.hero__button {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  width: 112px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hero__button:hover {
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.hero__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.hero__element {
  -ms-flex-preferred-size: calc(((100% - 60px * 2)) / 3);
      flex-basis: calc(((100% - 60px * 2)) / 3);
  border: 1px solid #EEE;
  background: #fff;
  padding-bottom: 20px;
  position: relative;
}

.hero__element:hover {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.hero__img {
  width: 370px;
  height: 294px;
}

.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 294px;
  padding: 64px 23px;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
}

.hero__overlay__:hover {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hero__overlay-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.hero__content {
  padding-left: 24px;
}

.hero__title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-top: 20px;
}

.hero__text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}

.hero__element:hover > .hero__overlay {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer__span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer__text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  display: block;
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer__number {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
}

.footer__join {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__link:hover {
  background-color: #2196f3;
}

.footer__svg {
  fill: #FFFFFF;
}

.footer__form-box {
  margin-left: 105px;
}

.footer__title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer__input {
  width: 358px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #FFF;
}

.footer::-webkit-input-placeholder {
  padding: 12px;
}

.footer:-ms-input-placeholder {
  padding: 12px;
}

.footer::-ms-input-placeholder {
  padding: 12px;
}

.footer::placeholder {
  padding: 12px;
}

.footer__button {
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
}

.footer__button-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.footer__subscribe {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #FFFFFF;
}
/*# sourceMappingURL=portfolio.css.map */