.doing {
    padding-bottom: 94px;
    background: #FFF;
}

.doing-list {
    display: flex;
    flex: wrap;
    gap: 30px;
}

.doing-item {
    position: relative;
}

.doing-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.doing-img {
    width: 370px;
}

.doing-text {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
}