.hero {
    background: $accent-color;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        @include flex-position($space: 30px);
    }

    &__button {
        color: $title-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.48px;
        border-radius: 4px;
        background: #F5F4FA;
        width: 112px;
        height: 38px;
        flex-shrink: 0;
        @extend %transition;

        &:hover {
            border-radius: 4px;
            background: $link-color;
            color: $accent-color;
            box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);


        }

    }

    &__gallery {
        @include flex-position($space: 30px);
        margin-top: 50px;
    }


    &__element {
        flex-basis: calc(((100% - 60px * 2)) / 3);
        border: 1px solid #EEE;
        background: $accent-color;
        padding-bottom: 20px;
        position: relative;
        @extend %transition;

        &:hover {
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

        }
    }

    &__img {
        width: 370px;
        height: 294px;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 294px;
        padding: 64px 23px;
        opacity: 0;
        background-color: rgba(33, 150, 243, 0.90);
        @extend %transition;
        transform: translate(0, 150px);

        &__:hover {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    &__overlay-text {
        color: $accent-color;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.54px;
    }

    &__content {
        padding-left: 24px;
    }

    &__title {
        color: $title-color;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08px;
        margin-top: 20px;
    }

    &__text {
        color: $text-color;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.48px;
        margin-bottom: 20px;
    }


}

.hero__element:hover>.hero__overlay {
    opacity: 1;
    transform: translate(0, 0);
}