.regular {
    padding: 94px;
}

.regular-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.regular-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.regular-image {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
}

.regular-image:hover {
    border: 1px solid #2196F3;
    fill: #2196F3;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, color, fill, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
