.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;

    &__title {
        @extend %title-sections;

    }

    &__list {
        @include flex-position($space: 30px);
    }

    &__item {
        padding-bottom: 30px;
        border-radius: 0px 0px 4px 4px;
        background: $accent-color;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    }

    &__img {
        width: 270px;
        height: 260px;
        flex-shrink: 0;
    }

    &__subtitle {
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-top: 30px;
    }


    &__text {
        @extend %li-text;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    &__socials {
        @include flex-position($space: 10px);

    }

    &__link {
        color: white;
        border-radius: 50%;
       @include flex-position();
        font-size: 20px;
        @extend %transition;

        &:hover {
            background-color: #2196F3;

        }
    }

    &__svg {
        fill: #AFB1B8;
        @extend %socials-svg;
        @extend %transition;

        &:hover {
            fill: $svg-fill;

        }
    }

}